body{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
#container{
    width: 1000px;
    height: 550px;
    background-color:bisque;
    margin: 20px auto;
}
#calculator{
    width: 320px;
    height:520px;
    background-color:cornflowerblue;
    margin: 0 auto;
    top:20px;
    position:relative;
    border-radius: 5px;
    
}
#result{
    height:120px;
}
#keyboard{
    height:400px;
}
.operator, .number, .empty{
    width:50px;
    height:50px;
    margin:15px;
    float:left;
    border-radius:50%;
    border-width:0 ;
    font-weight: bold;
    font-size: 15px;
}
.number, .empty{
    background-color:azure;
}
.number, .operator{
    cursor:pointer;
}
.operator:active, .number:active{
    font-size:13px;
}
